@import 'sassy';

@font-face {
	font-family: CodePage437;
	src: url(/PerfectDOSVGA437.ttf);
}

@keyframes slidedown {
	from {
		height: 100%;
	}
	to {
		height: 0%;
	}
}

@keyframes flicker {
	0% {
		opacity: 0.27861;
	}
	5% {
		opacity: 0.34769;
	}
	10% {
		opacity: 0.23604;
	}
	15% {
		opacity: 0.90626;
	}
	20% {
		opacity: 0.18128;
	}
	25% {
		opacity: 0.83891;
	}
	30% {
		opacity: 0.65583;
	}
	35% {
		opacity: 0.67807;
	}
	40% {
		opacity: 0.26559;
	}
	45% {
		opacity: 0.84693;
	}
	50% {
		opacity: 0.96019;
	}
	55% {
		opacity: 0.08594;
	}
	60% {
		opacity: 0.20313;
	}
	65% {
		opacity: 0.71988;
	}
	70% {
		opacity: 0.53455;
	}
	75% {
		opacity: 0.37288;
	}
	80% {
		opacity: 0.71428;
	}
	85% {
		opacity: 0.70419;
	}
	90% {
		opacity: 0.7003;
	}
	95% {
		opacity: 0.36108;
	}
	100% {
		opacity: 0.24387;
	}
}

$text-shadow-color-1: rgba(0, 30, 255, 0.25);
$text-shadow-color-2: rgba(255, 0, 80, 0.25);

@keyframes textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px $text-shadow-color-1,
			-0.4389924193300864px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	5% {
		text-shadow: 2.7928974010788217px 0 1px $text-shadow-color-1,
			-2.7928974010788217px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	10% {
		text-shadow: 0.02956275843481219px 0 1px $text-shadow-color-1,
			-0.02956275843481219px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	15% {
		text-shadow: 0.40218538552878136px 0 1px $text-shadow-color-1,
			-0.40218538552878136px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	20% {
		text-shadow: 3.4794037899852017px 0 1px $text-shadow-color-1,
			-3.4794037899852017px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	25% {
		text-shadow: 1.6125630401149584px 0 1px $text-shadow-color-1,
			-1.6125630401149584px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	30% {
		text-shadow: 0.7015590085143956px 0 1px $text-shadow-color-1,
			-0.7015590085143956px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	35% {
		text-shadow: 3.896914047650351px 0 1px $text-shadow-color-1,
			-3.896914047650351px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	40% {
		text-shadow: 3.870905614848819px 0 1px $text-shadow-color-1,
			-3.870905614848819px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	45% {
		text-shadow: 2.231056963361899px 0 1px $text-shadow-color-1,
			-2.231056963361899px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	50% {
		text-shadow: 0.08084290417898504px 0 1px $text-shadow-color-1,
			-0.08084290417898504px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	55% {
		text-shadow: 2.3758461067427543px 0 1px $text-shadow-color-1,
			-2.3758461067427543px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	60% {
		text-shadow: 2.202193051050636px 0 1px $text-shadow-color-1,
			-2.202193051050636px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	65% {
		text-shadow: 2.8638780614874975px 0 1px $text-shadow-color-1,
			-2.8638780614874975px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	70% {
		text-shadow: 0.48874025155497314px 0 1px $text-shadow-color-1,
			-0.48874025155497314px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	75% {
		text-shadow: 1.8948491305757957px 0 1px $text-shadow-color-1,
			-1.8948491305757957px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	80% {
		text-shadow: 0.0833037308038857px 0 1px $text-shadow-color-1,
			-0.0833037308038857px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	85% {
		text-shadow: 0.09769827255241735px 0 1px $text-shadow-color-1,
			-0.09769827255241735px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	90% {
		text-shadow: 3.443339761481782px 0 1px $text-shadow-color-1,
			-3.443339761481782px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	95% {
		text-shadow: 2.1841838852799786px 0 1px $text-shadow-color-1,
			-2.1841838852799786px 0 1px $text-shadow-color-2, 0 0 3px;
	}
	100% {
		text-shadow: 2.6208764473832513px 0 1px $text-shadow-color-1,
			-2.6208764473832513px 0 1px $text-shadow-color-2, 0 0 3px;
	}
}

:root {
	--construct-border-radius: 0px;
	--construct-input-background: black;
	--construct-input-color: $text-color;
}

* {
	box-sizing: border-box;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $color-green #000000;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 12px;
	width: 12px;
}
*::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
	background-color: #000000;
}

*::-webkit-scrollbar-track:active {
	background-color: #000000;
}

*::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: $color-green;
	border: 2px solid #000000;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #62a34b;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #62a34b;
}

::selection {
	background-color: $text-color; /* WebKit/Blink Browsers */
	color: black;
}
::-moz-selection {
	background-color: $text-color; /* Gecko Browsers */
	color: black;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
	margin: 0px;
}

button {
	animation: textShadow 0.01s infinite;
	font-weight: lighter !important;
}

#app {
	.construct-layout,
	.construct-page {
		position: relative;

		&::after {
			content: ' ';
			width: 100%;
			height: 100%;

			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10000;

			background-color: black;

			animation: slidedown 0.5s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(0.985, 0.21, 0.5, 0.06);
		}
	}

	.construct-title {
		padding: 0.5em 0px;
	}

	.construct-link {
		&.router-link-active,
		&:focus {
			background-color: $color-green;
			color: black;
			outline: none;
		}
	}

	.construct-input-box {
		padding: 0em;

		.input-label {
			line-height: initial;
		}

		.input-area {
			display: inherit;

			input,
			textarea,
			select {
				background-color: black;
				border: $line-width solid $color-green;
				outline: none;
				color: $text-color;
				font-family: 'Share Tech Mono', monospace;
				font-size: 0.9em;
				caret-shape: block;
				border-radius: 0px;
			}
		}
	}

	.construct-button {
		border-radius: 0px;
		background-color: black;
		color: $text-color;
		border: $line-width solid $color-green;
		font-family: 'Share Tech Mono', monospace;

		&:hover,
		&:focus {
			background-color: $color-green;
			color: black;
			outline: none;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	font-weight: lighter;
	line-height: 1em;
}

img {
	filter: saturate(0.5);
}

a {
	color: $text-color;

	&:hover {
		background-color: $color-green;
		color: black;
	}
}
