@import 'sassy';

@keyframes slidedown {
	from {
		height: 100%;
	}
	to {
		height: 0%;
	}
}

:root {
	--construct-border-radius: 0px;
	--construct-input-background: black;
	--construct-input-color: $text-color;
}

#app {
	.construct-layout,
	.construct-page {
		position: relative;

		&::after {
			content: ' ';
			width: 100%;
			height: 100%;

			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10000;

			background-color: black;

			animation: slidedown 0.5s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(0.985, 0.21, 0.5, 0.06);
		}
	}

	.construct-title {
		padding: 0.5em 0px;
	}

	.construct-link {
		&.router-link-active {
			background-color: $color-green;
			color: black;
		}
	}

	.construct-input-box {
		padding: 0em;

		.input-label {
			line-height: initial;
		}

		.input-area {
			display: inherit;

			input,
			textarea,
			select {
				background-color: black;
				border: $line-width solid $color-green;
				outline: none;
				color: $text-color;
				font-family: 'Share Tech Mono', monospace;
				font-size: 0.9em;
				caret-shape: block;
				border-radius: 0px;
			}
		}
	}

	.construct-button {
		border-radius: 0px;
		background-color: black;
		color: $text-color;
		border: $line-width solid $color-green;
		font-family: 'Share Tech Mono', monospace;

		&:hover,
		&:focus {
			background-color: $color-green;
			color: black;
			outline: none;
		}
	}
}
